/*
  _____.__          __   
_/ ____\  | _____ _/  |_ 
\   __\|  | \__  \\   __\
 |  |  |  |__/ __ \|  |  
 |__|  |____(____  /__|  
                 \/      
*/

:root {
  --body-lg-width: 800px;
  --background-color: #ffffff;
  --color-primary: #ee5566;
  --color-secondary: #fff;
  --accent-color: #4f6e8c;
  --card-background-color: #dee6e8;
  --dark-color: #324659;
  --border-radius: 5px;
}
