/*

*/

:root {
  --body-lg-width: 800px;
  --background-color: #1B2126;
  --color-primary: #2F3840;
  --color-secondary: #2F3840;
  --accent-color: #3d4750;
  --card-background-color: #2F3840;
  --dark-color: #010C0D;
  --border-radius: 10px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background : url(../img/bg-starwars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background-color: rgba(255, 255, 255, 0.247);
  backdrop-filter: blur(3px);
}

/** card **/

.card .header {
  padding: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(3px);
  border-radius: 5px 5px 0 0;
}

div.card .content {
  background-color: rgba(255, 255, 255, 0.184);
  backdrop-filter: blur(3px);
  padding: 10px;
  border-radius: 0 0 5px 5px;
  backdrop-filter: blur(3px);
  box-shadow: inset 0 -3px 20px rgba(255, 255, 255, 0.047), 0 0 0 0px;
}