/*                _      _    _  _  __ 
                 (_)    | | _| || |/_ |
  _ __  _ __ ___  _  ___| ||_  __  _| |
 | '_ \| '__/ _ \| |/ _ \ __|| || |_| |
 | |_) | | | (_) | |  __/ ||_  __  _| |
 | .__/|_|  \___/| |\___|\__||_||_| |_|
 | |            _/ |                   
 |_|           |__/                     
 
                                      */

* {
  margin: 0;
  padding: 0;
}

:root {
  --body-lg-width: 800px;
  --background-color: #f2f2f2;
  --color-primary: #595859;
  --color-secondary: #595859;
  --accent-color: #8c8c8c;
  --card-background-color: #bfb9ae;
  --dark-color: #262526;
  --border-radius: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

body {
  background-color: var(--background-color);
  font-family: "Kumbh Sans", sans-serif;
}

header {
  display: flex;
  position: sticky;
  justify-content: center;
  top: 0px;
  margin: auto;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 1;
}

main,
footer {
  margin: auto;
  width: var(--body-lg-width);
}

/*** GENERAL ***/

h1 {
  font-size: 4rem;
  margin: 4rem 0 0rem 0;
  font-weight: bolder;
  letter-spacing: -5px;
  color: var(--color-primary);
}

h2 {
  font-size: 1.4rem;
  color: #fff;
}

.title h2 {
  padding-left: 94px;
}

/*** Navigation ***/
nav {
  color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  position: sticky;
  height: 3rem;
  width: var(--body-lg-width);
}

nav .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: var(--body-lg-width);
  height: 3rem;
}

nav .menu .logo {
  justify-self: start;
  align-items: center;
  font-size: 1rem;
  margin-right: 20px;
}

nav .menu .burger {
  justify-self: start;
  font-size: 1.4rem;
  align-self: center;
  justify-content: center;
}

nav .menu .burger:hover {
  color: #777777;
}

nav .menu .burger:active {
  color: #8e2323;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/****        MENU POPUP        ****/

nav .menuItems {
  display: flex;
  visibility: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-self: flex-start;
  background-color: var(--dark-color);
  backdrop-filter: blur(8px);
  width: 300px;
  text-align: left;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  margin-top: 10px;
  animation: fadeIn 2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav .menuItems:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
nav .menuItems li {
  list-style-type: none;
  line-height: 2rem;
}

nav .menuItems li b {
  line-height: 1rem;
  width: 100%;
  color: var(--color-primary);
}

nav .menuItems .separator {
  height: 1px;
  width: 100px;
  margin: 8px 0;
  background-color: var(--color-primary);
}

nav .menuItems li {
  text-decoration: none;
  color: var(--accent-color);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
nav .menuItems li i {
  margin-right: 10px;
}

nav .menuItems li:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

section .title {
  width: 60%;
  font-weight: 900;
  line-height: 54px;
  font-family: "Kumbh Sans", sans-serif;
}

section.title h2 {
  padding-bottom: 2rem;
  color: var(--color-primary);
}

/** card **/
section#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  padding: 0px;
}

section#cards .card {
  border-radius: var(--border-radius);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--accent-color);
}

div.card:hover {
  transform: scale(105%);
}

.hidden {
  visibility: hidden;
}

.card .header {
  padding: 10px;
  display: flex;
  background: var(--card-background-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: auto;
  align-self: stretch;
}

div.image {
  width: 50px;
  margin-right: 10px;
}

div.userInfo {
  padding-left: 10px;
}

div.userInfo h2 {
  font-size: 1.2rem;
  color: var(--color-primary);
}
div.userInfo h2 span {
  font-size: 1rem;
  color: var(--accent-color);
}

div.userInfo .spec {
  font-size: 12px;
}

div.card img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.user-image {
  border: 4px rgb(97, 164, 105) solid;
}

img.venus {
  border: 4px rgb(193, 135, 192) solid;
}

img.mars {
  border: 4px rgb(151, 142, 213) solid;
}

.card .content {
  background: var(--card-background-color);
  padding: 10px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  backdrop-filter: blur(3px);
  box-shadow: inset 0 -3px 20px rgba(255, 255, 255, 0.047), 0 0 0 0px;
  align-self: flex-end;
  width: 92%;
  border-top: var(--color-primary) 1px solid;
}

div .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

div .icon i {
  color: var(--accent-color);
  margin: 0 5px;
}

div .icon i:hover {
  color: #fff;
  margin: 0 5px;
  transition: 0s 100ms ease-in-out;
}

/*** FOOTER ***/

footer {
  padding: 50px 0 40px;
  margin: auto;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

/*******************************************/
/*****            TABLET               *****/
/*******************************************/

@media screen and (max-width: 830px) and (min-width: 390px) {
  header {
    margin: auto;
    width: 94%;
  }

  main,
  footer {
    margin: auto;
    width: 94%;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: bolder;
    letter-spacing: -2px;
  }

  h2 {
    font-size: 1rem;
  }

  section.title h2 {
    padding-bottom: 0;
    opacity: 80%;
  }

  nav .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding-left: 2%;
  }

  section.title {
    width: 100%;
    font-weight: 900;
    line-height: 2rem;
    font-family: "Kumbh Sans", sans-serif;
    padding: 2%;
  }

  section#cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    padding: 0px;
  }

  div.card {
    margin: 0px;
  }

  div.card:hover {
    transform: scale(104%);
  }

  footer {
    padding: 20px 0 20px;
    width: 50px;
    margin: auto;
    font-size: 10px;
  }
}

/*******************************************/
/*****          Smartphone             *****/
/*******************************************/

@media screen and (max-width: 390px) {
  header {
    margin: auto;
    width: 94%;
  }

  main,
  footer {
    margin: auto;
    width: 94%;
  }
  h1 {
    font-size: 2rem;
    margin: 1rem 0 0 0;
    font-weight: bolder;
    letter-spacing: -2px;
  }

  h2 {
    font-size: 1rem;
  }

  nav .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding-left: 2%;
  }

  main {
    width: 95%;
  }

  section.title {
    width: 100%;
    font-weight: 900;
    line-height: 2rem;
    font-family: "Kumbh Sans", sans-serif;
    padding: 2%;
  }

  section.title h2 {
    padding-bottom: 0;
    opacity: 60%;
  }

  section#cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2%;
    grid-gap: 0%;
  }

  div.card:hover {
    transform: scale(104%);
  }

  footer {
    padding: 20px 0 20px;
  }
}
